@model IEnumerable<mukatalev1._0.Models.Post>
<br />
<div class="Post-Title">
    <div class="Post-Title-two">MAKETI</div>
</div>
<br />
<div class="instruction1">Sell your fresh produce instanly!</div>
<br/>
<br/>
<div class="instruction2">
    Are you selling fresh produce in markets around kampala? Increase your sales by posting what you have in stock here.
</div>
<br />
<ol class="instruction3">
<li>
Take a picture of what you intend to sell here, for example... Tomatoes.
</li>
<li>Post it here including the market where you operate from and your phone number where potential customers can reach you on.
    </li>
</ol>
<br />
<br />
<br />
<br />
@foreach (var item in Model)
{
<div class="Post">
    <div class="Title">
        @Html.ActionLink(item.Title, "Details", new { id = item.Id })
    </div>
    <div class="Description">
        @Html.DisplayFor(modelItem => item.Description)
    </div>
    <div class="price">
        price: @Html.DisplayFor(modelItem => item.Price) UGX
    </div>
    <img class="Image" src="~/Images/@Html.DisplayFor(modelItem => item.Image)" alt="no" />
    <div class="location">
        Market Place: @Html.DisplayFor(modelItem => item.Market)
    </div>
    <div class="createdat">
        Date Posted @Html.DisplayFor(modelItem => item.CreatedAt)
    </div>
    <a  class="goin" href='@Url.Action("Details", "Posts", new { id = item.Id })'>
        <img  class="goin" src='@Url.Content("~/Images/goin.png")' />
    </a>
</div>
    <br />
    <br />

}



