@model mukatalev1._0.Models.PostCommentReplyViewModel
@{
     ViewBag.Title = Model.Post.Title;
}
<br/>
<br />
<br />
<div>
    <hr />
    <div class="Post">
        <div class="Title">
            @Html.ActionLink(Model.Post.Title, "Index", "Posts")
        </div>
        <div class="Description">
            @Html.DisplayFor(model => model.Post.Description)
        </div>
        <div class="price">
            Ebbeyi: @Html.DisplayFor(model => model.Post.Price) UGX
        </div>
        <img class="Image" src="~/Images/@Html.DisplayFor(model => model.Post.Image)" alt="no" />
        <div class="location">
            Post by: @Html.DisplayFor(model => model.UserTag)
            <br/>
            Location : @Html.DisplayFor(model => model.Post.Market)
        </div>
        <div class="createdat">
            @Html.DisplayFor(model => model.Post.CreatedAt)
        </div>
    </div>
</div>
<br/>
    @if (Model.CommentReply != null)
    {
        foreach (var item in Model.CommentReply.Where(x => x.Comment != null))
        {
            <div class="comment-block">
                <div class="comment" style="">
                    @Html.DisplayFor(modelItem => item.Comment.Text)
                </div>
                <div>@Html.DisplayFor(modelItem => item.UserTagComment)</div>
                <div class="comment-date">
                    @Html.DisplayFor(modelItem => item.Comment.CreatedAt)
                </div>
                @if (item.Reply != null)
                {
                foreach (var reply in item.Reply)
                {
                <div class="reply-block">
                    <div class="reply" style="">
                        @Html.DisplayFor(modelReply => reply.Text)
                    </div>
                    <div class="reply-date">
                        @Html.DisplayFor(modelReply => reply.CreatedAt)
                    </div>
                </div>
                <br />
                }

                }
                <div class="delete-comment"> @Html.ActionLink("Delete", "Delete", "Comments", new { id = item.Comment.Id }, null)</div>
                @Ajax.ActionLink("Reply", "Create", "Replies",
                             new { commentId = item.Comment.Id, PostId = Model.Post.Id },
                             new AjaxOptions { UpdateTargetId = @item.Comment.Id.ToString() })
                <div id=@item.Comment.Id.ToString()>
                </div>
            </div>
            <br />
        }
    }


@Html.Action("Create", "Comments", new { PostId = Model.Post.Id })
<div class="methods">
    @Html.ActionLink("Kyusa", "Edit", new { id = Model.Post.Id }) |
    @Html.ActionLink("Sangula", "Delete", new { id = Model.Post.Id }) |
    @Html.ActionLink("Dayo Ewasokelwa", "Index", "Posts")
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


